numberworker/.settings/org.eclipse.buildship.core.prefs
numberworker/.settings/org.eclipse.jdt.core.prefs
reduceworker/.settings/org.eclipse.buildship.core.prefs
reduceworker/.settings/org.eclipse.jdt.core.prefs
sortworker/.settings/org.eclipse.buildship.core.prefs
sortworker/.settings/org.eclipse.jdt.core.prefs
